
@font-face {
  font-family: 'Cyberpunk-Regular';
  src: url('../fonts/Cyberpunk-Regular.woff2') format('woff2'),
       url('../fonts/Cyberpunk-Regular.woff') format('woff'),
       url('../fonts/Cyberpunk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon-home';
  src: url('../fonts/icon-home.woff2') format('woff2'),
       url('../fonts/icon-home.woff') format('woff'),
       url('../fonts/icon-home.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff2') format('woff2'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}