@import "base/style.scss";

.header {

		&__container {
            min-height: rem(72);
            display: flex;
            align-items: center;
		}

		&__logo {
            flex: 1 1 auto;
		}

		&__img {
		}

		&__link {
            font-weight: 500;
            font-size: rem(16);
		}
}
.page {

		&__container {
            padding: rem(52) rem(15);
		}

		&__content {
            
            &:not(:last-child) {
                margin-bottom: rem(35);
            }
		}
}
.reference {

		// .reference__title
		&__title {
            font-weight: 700;
            font-size: rem(24);
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            column-gap: rem(5);
            width: 100%;
            border-bottom: 2px solid #000;
            padding: rem(10) rem(5);


            &::before {
                font-weight: 700;
                transition: transform .3s ease;
            } 
            
            &._spoller-active::before{
                transform: rotate(90deg);
            }
		}

		// .reference__content

		&__content {
            padding: rem(15) 0;
		}

		// .reference__link

		&__link {
            display: flex;
            justify-content: space-between;
            border-left: 5px solid transparent;
            margin: 0 0 rem(20) 0;
            row-gap: rem(20);

            &:hover {
                border-left: 5px solid #000;
            }

            @media (max-width:$mobile) {
                flex-wrap: wrap;
                border-left: 5px solid #000;
            }
		}
}
.link {

    &:hover &__text{
        border: 2px solid #000;
    }

    @media (max-width:$mobile) {
        &:hover &__text{
            border: 2px solid transparent;
        }
    }


    // .link__logo
    &__logo {
        height: 40px;
        width: 240px;
        margin: 0 rem(40) 0 rem(5);
        align-self: center;
    }
    // .link__img
    &__img {
        height: 100%;
    }
    // .link__text
    &__text {
        align-self: flex-start;
        background-color: #faf2e2;
        font-size: rem(16);
        padding: rem(8);
        border: 2px solid transparent;
        width: calc(100% - rem(285));

        @media (max-width:$mobile) {
            width: 100%;
        }
    }
}
